.nav{
    background-color: blue;
    color: white;
}
body{
    background-color: rgb(129, 109, 109);
}
 
h3{
    margin-top: 10px;
    border: 2px;
    border-radius: 10px;
}
.dash{
    margin-top: 13px;
    margin-left: 4px;
    margin-right: 4px;
}
.dash :hover{
    cursor: pointer;
    color: rgb(206, 206, 206);
    
}
 
.navlink{
    color: white;
    padding: 20px;
}
.navlink:hover{
    color: brown;
}
.navlink :active{
    color: black;
}